*{
    box-sizing: border-box;
}

h2{
    text-align: center;
}

#main-content,nav{
    display:flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-top:2%;
}

#main-content{
    justify-content: space-around;
}

nav{
    justify-content: center;
}

#main-content > *{
    flex:auto auto 400px;
}

.event > *{
    display: block;
}

.ticket{
    border:2px solid black;
    padding: 2%;
}